

body {
    background: white;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Droid Sans', sans-serif;
    padding-top: 56px;
}


@media screen and (max-width: 768px) {
    body { 
        padding-top: 48px; 
    }
}


.navbar {
    background-image: url("../pics/darkSteel.jpg");
    border: 0px;
    width: 100%;
    padding-top: 1%;
}


.navbar-brand {
    padding: 0px;
}


.navbar-header {
    width: 100%;
}


.github {
    margin-left: 1%;
    display: inline-block;
    position: relative;
    width: auto;
    margin-top: -0.3%;
}


.gitPic {
    opacity: 1;
    max-height: 65%;
    transition: .5s ease;
    backface-visibility: hidden;
}


.gitoverlay {
    transition: .5s ease;
    opacity: 0;
    width: 50%;
    position: absolute;
    top: 31%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.gitWord {
    font-size: 80%;
    color: white;
}


.github:hover .gitPic {
    opacity: 0.6;
}


.github:hover .gitoverlay {
    opacity: 1;
    margin-left: -10%;
}


.linked {
    margin-left: 3%;
    display: inline-block;
    position: relative;
    width: auto;
    margin-top: -0.3%;
}


.linkPic {
    opacity: 1;
    max-height: 65%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.linkedoverlay {
    transition: .5s ease;
    opacity: 0;
    width: 50%;
    position: absolute;
    top: 31%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.linkedWord {
    font-size: 80%;
    color: white;
}


.linked:hover .linkPic {
    opacity: 0.6;
}


.linked:hover .linkedoverlay {
    opacity: 1;
    margin-left: -20%;
}


.email {
    margin-left: 3%;
    display: inline-block;
    position: relative;
    width: auto;
    margin-top: -0.3%;
}


.emailPic {
    opacity: 1;
    max-height: 75%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.emailoverlay {
    transition: .5s ease;
    opacity: 0;
    width: 50%;
    position: absolute;
    top: 31%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.emailWord {
    font-size: 80%;
    color: white;
}


.email:hover .emailPic {
    opacity: 0.6;
}


.email:hover .emailoverlay {
    opacity: 1;
    margin-left: 29%;
}


.navbarRight {
    list-style-type: none;
    padding: 0;
    
}


.navLink {
    float: left;
}


.navAnc {
    color: #d6d6d6;
    font-size: 1.7vw;
    text-align: center;
    display: block;
    margin-right: 16px;
}

.navAnc:hover {
    color: #ff6501;
}


@media screen and (max-width: 768px) {
    .navAnc { 
        font-size: 3vw; 
    }
}


@media screen and (max-width: 776px) {
    .navAnc { 
        font-size: 4vw; 
    }
}


.resumeAnc {
    color: #d6d6d6;
    font-size: 1.7vw;
    text-align: center;
    display: block;
}


.resumeAnc:hover {
    color: #ff6501;
}


@media screen and (max-width: 768px) {
    .resumeAnc { 
        font-size: 3vw; 
    }
}

@media screen and (max-width: 776px) {
    .resumeAnc { 
        font-size: 4vw; 
    }
}


.books {
    width: 100%;
}


.lower {
    background-image: url("../pics/forest.jpg");
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%; 
    overflow: hidden;
    padding-bottom: 5%;
}


.aboutMe {
    color: white;
    font-family: "Permanent Marker", sans-serif;
    font-size: 5vw;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .aboutMe { 
        font-size: 11vw; 
    }
}

@media screen and (max-width: 776px) {
    .aboutMe { 
        font-size: 11vw; 
    }
}


.quoteDiv {
    width: 100%;
    text-align: center;
}


.quote {
    text-align: center;
    color: white;
    margin-top: 0%;
    padding: 1%;
    background-color: rgba(30,30,30,0.6);
    font-size: 2vw;
}


@media screen and (max-width: 768px) {
    .quote { 
        font-size: 4vw; 
    }
}

.photo {
    height: 30%;
    width: 30%;
    display: inline-block;
    float: right;
    padding-left: 3%;
}


.aboutLeft {
    width: 95%;
    float: left;
    color: white;
    background-color: rgba(30,30,30,0.5);
    margin-top: 3%;
}


.me {
    margin-left: 5%;
    padding-top: 1%;
    position: relative;
}


@media screen and (max-width: 768px) {
    .me { 
        font-size: 5vw; 
    }
}

@media screen and (max-width: 776px) {
    .me { 
        font-size: 5vw; 
    }
}


.aboutPara {
    padding-right: 3%;
}


@media screen and (max-width: 768px) {
    .aboutPara { 
        font-size: 4vw; 
    }
}

@media screen and (max-width: 776px) {
    .aboutPara { 
        font-size: 4vw; 
    }
}



.projectContainer {
    width: 100%;
    margin-left: 5%;
    padding-bottom: 5%;
}

.projectText {
    color: black;
    display: inline-block;
    width: 55%;
    margin-left: 5%;
    float: left;
}

.projectName {
    font-size: 350%;
}

.projectPic {
    height: 30%;
    width: 30%;
    display: inline-block;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    position: relative;
    float: left;
    margin-top: 2%;
}

.projectPic:hover {
    transform-origin:0 0;
    box-shadow: 0px 0px 100px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(2);
    transition: all 200ms ease-in;
}

.projectDescription {
    line-height: 130%;
}


.projectLinks {
    color: red;
    text-decoration: underline;
}

.projectLinks:hover {
    text-decoration: none;
}


.moreLine {
    text-align: center;
    margin-bottom: 5%;
}


.skills  {
    width: 100%;
    margin-top: 2%;
}

.resAll {
    width: 100%;
}

.section {
    margin-left: 5%;
}

.uls {
    margin-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.lis {
    margin-left: 12%;
}

.vibeRow {
    margin-top: 3%;
}

.education {
    border-bottom: solid;
}

.skillsSection {
    border-bottom: solid;
}


.job {
    margin-left: 10%;
}


.date{
    margin-top: -1%;
}

.responsibilities {
    margin-left: 10%;
    margin-top: 2%;
}

.title {
    margin-top: 3%;
}

.accomplishments {
    border-bottom: solid;
}





