<div class="row">

    <nav class="navbar navbar-default navbar-fixed-top">


        <div class="navbar-header container-fluid">



            <a href="#" class="navbar-brand"></a>


            <div class="github" style="float:left">
                <a href="https://github.com/jesseemig" target="_blank" class="navbar-brand gitLink">
                    <img src="../pics/github.png" class="gitPic img-responsive" alt="Responsive image">
                    <div class="gitoverlay">
                        <span class="gitWord">Github</span>
                    </div>
                </a>
            </div>

            <div class="linked" style="float:left">
                <a href="https://www.linkedin.com/in/jesse-emig" target="_blank" class="navbar-brand linkedLink">
                    <img src="../pics/linkedin.png" class="linkPic img-responsive" alt="Responsive image">
                    <div class="linkedoverlay">
                        <span class="linkedWord">LinkedIn</span>
                    </div>
                </a>
            </div>

            <div class="email" style="float:left">
                <a href="mailto:jesseemig@gmail.com" class="navbar-brand emailLink">
                    <img src="../pics/email.png" class="emailPic img-responsive" alt="Responsive image">
                    <div class="emailoverlay">
                        <span class="emailWord">Email</span>
                    </div>
                </a>
            </div>



            <h5>
           
            <ul class="navbarRight" style="float:right">

                
                <li class="navLink">
                    <a href="#/home" class="navAnc">Home</a>
                </li>
               

                <li class="navLink">
                    <a href="#/projects" class="navAnc">Projects</a>
                </li>
                

                
                <li class="navLink">
                    <a href="#/resume" class="resumeAnc">Resume</a>
                </li>
                

            </ul>

            </h5>


        </div>


    </nav>

</div>