<div class="row aboutHeader">
    <img src="../pics/nameBooks.jpg" class="img-responsive books" alt="Responsive image">
</div>


<div class="lower">

    <div class="quoteDiv">
    <h2 class="quote">Where most people see a mouse trap, I see free cheese and a challenge.</h2>
    </div>

    <div class="aboutLeft">

        <h1 class="aboutMe">About me</h1>


        <h2 class="me">I am a full stack Javascript Web Developer specializing in the MEAN stack. </h3><br>
        <h4 class="me">I genuinely enjoy coding, it's not uncommon for me to code for 14+ hours a day.<br><br>
        My curiosity about how thinks work combined with my love of tinkering with things and outside of the box way of thinking have made web development a perfect fit.<br><br>
        I am tenacious about my work. While I was in school I spent 10 - 21 hours a day studying and working on projects. I am a firm believer in giving 100% effort to any task you're working on.<br><br>
        I also like having fun and making people laugh. When you're spending 8+ hours a day with someone the time goes by a lot faster when you're having fun.</h4>


    </div>

    <img src="../pics/headshot.jpg" class="photo image-responsive">


</div>