<div class="projectsDiv">


    <div class="row projectContainer">

        <img src="../pics/api2.jpg" class="projectPic">

        <div class="projectText">
            <h1 class="projectName">Vibe</h1>
            <h5 class="projectDescription">This web application utilizes the LastFm API to
            find any tracks an artist has released or appeared in. It allows the user
            to add any track to their own playlist with the push of a button, or search for
            similar artists.
            <br>
            This is a full stack application utilizing the MEAN stack.<br>
            
            You can view this project's Github <a href="https://github.com/jesseemig/vibe">here</a>.
            </h5>
        </div>

    </div>


    <div class="row projectContainer">

        <img src="../pics/full.jpg" class="projectPic">


        <div class="projectText">
            <h1 class="projectName">Ideally</h1>
            <h5 class="projectDescription">This is a full stack web application that allows a user
                to submit an idea for an app they think would be handy and would like to see developed,
                or a feature they would like to see in a pre-existing app or site. It allows users to
                vote on the ideas and displays the ideas with the most votes at the top.
                <br>
                This is a full stack application utilizing the MEAN stack.
                <br>
            
                You can view this project's Github <a href="">here</a>.
                </h5>
        </div>

    </div>

    <div class="row projectContainer">

        <img src="../pics/vote.jpg" class="projectPic">

        <div class="projectText">
            <h1 class="projectName">Rock the Vote</h1>
            <h5 class="projectDescription">This full stack web application allows a user
                post a political issue with a title and description which other users can upvote or downvote.
                Other users can also comment on the post.
                <br>
                This app uses Angular for the front-end and Node/Express for the back-end.
                <br>
            
                You can view this project's Github <a href="">here</a>.
                </h5>
        </div>

    </div>

    
     <div class="row projectContainer">

        <img src="../pics/vote.jpg" class="projectPic">

        <div class="projectText">
            <h1 class="projectName">Trace A Call</h1>
            <h5 class="projectDescription">This is a  full stack web application that allows a     user to enter a phone number and returns the city, state, carrier, etc. for that number.
                <br>
                This app uses Angular for the front-end and the cosmin-us-phone-number-lookup API.
                <br>
            
                You can view this project's Github <a href="">here</a>.
                </h5>
        </div>

    </div>
    

    <div class="row projectContainer">

        <img src="../pics/mario.jpg" class="projectPic">

        <div class="projectText">
            <h1 class="projectName">Mario's Pest Control</h1>
            <h5 class="projectDescription">This is a full stack web application that allows a user
                to submit an idea for an app they think would be handy and would like to see developed,
                or a feature they would like to see in a pre-existing app or site. It allows users to
                vote on the ideas and displays the ideas with the most votes at the top.
                <br>
                This is a full stack application utilizing the MEAN stack.
                <br>
            
                You can view this project's Github <a href="">here</a>.
            </h5>
        </div>

    </div>


</div>