<div class="container container-fluid projectsDiv">


    <div class="row projectContainer vibeRow">

        <img src="../pics/api2.jpg" class="projectPic vibePic">

        <div class="projectText vibeText">
            <h1 class="projectName">Vibe</h1>
            <h4 class="projectDescription">This web application utilizes the LastFm API to
            find any tracks an artist has released or appeared in. It allows the user
            to add any track to their own playlist with the push of a button, or search for
            similar artists.
            <br>
            This is a full stack application utilizing the MEAN stack.
            <br>
            <br>
            You can view this project's Github <a href="https://github.com/jesseemig/vibe" class="projectLinks">here</a>.
            </h4>
        </div>

    </div>


    <div class="row projectContainer">

        <img src="../pics/full.jpg" class="projectPic ideallyPic">


        <div class="projectText">
            <h1 class="projectName">Ideally</h1>
            <h4 class="projectDescription">This is a full stack web application that allows a user
                to submit an idea for an app they think would be handy and would like to see developed,
                or a feature they would like to see in a pre-existing app or site. It allows users to
                vote on the ideas and displays the ideas with the most votes at the top.
                <br>
                This is a full stack application utilizing the MEAN stack.
                <br>
                <br>
                You can view this project's Github <a href="https://github.com/V-School-SLC-January/J.A.M." class="projectLinks">here</a>.
                </h4>
        </div>

    </div>
    
    
    
    <div class="row projectContainer">

        <img src="../pics/trace.jpg" class="projectPic tracePic">

        <div class="projectText">
            <h1 class="projectName">Trace A Call</h1>
            <h4 class="projectDescription">This is a  full stack web application that allows a     user to enter a phone number and returns the city, state, carrier, etc. for that number.
                <br>
                This app uses Angular for the front-end and the cosmin-us-phone-number-lookup API.
                <br>
                <br>
                You can view this project's Github <a href="https://github.com/jesseemig/assignments/tree/master/exercises/personal-ang-api" class="projectLinks">here</a>.
                </h4>
        </div>

    </div>
    
    
    
    <div class="row projectContainer">

        <img src="../pics/score.jpg" class="projectPic scorePic">

        <div class="projectText">
            <h1 class="projectName">High Score Haven</h1>
            <h4 class="projectDescription">This application XXXXXXXXXXX.
                <br>
                This app uses XXXXXXXXXXXX
                <br>
                <br>
                You can view this project's Github <a href="https://github.com/jesseemig/assignments/tree/master/projects/high-score" class="projectLinks">here</a>.
                </h4>
        </div>

    </div>
    
    

    <div class="row projectContainer">

        <img src="../pics/vote.jpg" class="projectPic votePic">

        <div class="projectText">
            <h1 class="projectName">Rock the Vote</h1>
            <h4 class="projectDescription">This full stack web application allows a user
                post a political issue with a title and description which other users can upvote or downvote.
                Other users can also comment on the post.
                <br>
                This app uses Angular for the front-end and Node/Express for the back-end.
                <br>
                <br>
                You can view this project's Github <a href="https://github.com/jesseemig/assignments/tree/master/exercises/rock-the-vote-angFrontEnd-expressBackEnd" class="projectLinks">here</a>.
                </h4>
        </div>

    </div>

    

    <div class="row projectContainer">

        <img src="../pics/mario.jpg" class="projectPic marioPic">

        <div class="projectText">
            <h1 class="projectName">Mario's Pest Control</h1>
            <h4 class="projectDescription">This is application allows the user to enter how many enemies they have caught, then shows the user the total value of each type and the total value of all types combined. This app takes the numbers entered and multiplies them by each type's value.
                <br>
                This application utilizes the Javascript and jQuery.
                <br>
                <br>
                You can view this project's Github <a href="https://github.com/jesseemig/assignments/tree/master/projects/mario" class="projectLinks">here</a>.
            </h4>
        </div>

    </div>
    
    <h1 class="moreLine">For more examples of my work check out my Github <a href="https://github.com/jesseemig/assignments/tree/master/exercises" class="projectLinks">here</a>. </h1>


</div>